html {
    scroll-behavior: smooth;
  }

.header {
    text-align: center;
    margin: 10px;
    background-color: black;
}

.logo{
    text-align: center;
    background-color: black;
}

.botoes-header{
    text-align: center;
    background-color: rgb(255, 255, 255);
}


.botoes-header li {
    color: blue;
    display: inline-block;
    margin-right: 70px;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

.botoes-header li a:hover {
    background-color: white;
    
}

.titulo {
    font-family: 'Acme', sans-serif;
    font-size: 70px;
    margin: 15px;
}

.subtitulo {
    font-size: 23px;
}

.descricao {
    margin: 40px 5px 20px;
}

.descricao-titulo {
    font-size: 30px;
    margin-bottom: 10px;
    display: block;
}

.descricao-conteudo {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    justify-content: center;
}

.descricao-imagens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.descricao-imagem1 {
    width: 49%
}

.descricao-imagem2 {
    width: 49%
}

.descricao-imagem {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.descricao-imagem-texto {
    font-size: 20px;
    margin: 0px;
    text-align: center;
}

.descricao-video {
    display: flex;
    justify-content: center;
    width: 100%;
}

.como-jogar {
    margin: 40px 5px 20px;
}

.como-jogar-titulo {
    font-size: 30px;
    margin-bottom: 10px;
}

.como-jogar-conteudo {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    justify-content: center;
}

.como-jogar-botao {
    text-align: center;
    margin: 20px;
}

.botao-download {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 25px;
    padding: 5px 40px 5px;
    transition: opacity 0.15s;
    border: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.botao-download:hover{
    opacity: 0.7;
}

.biblioteca:hover{
    text-decoration: underline;
    color: blue;
}